@model ChopShop.Admin.Web.Models.ViewModel.EditProduct

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@Html.LabelFor(x=>x.Name)<br />
@Model.Name<br />
<ul>
@foreach (var cost in Model.Cost)
{ 
<li>@cost.Value</li>
}
</ul>