.jcarousel-container
{
	width:750px;
}

.jcarousel-direction-rtl
{
	direction: rtl;
}

.jcarousel-container-horizontal
{
	width:750px;
}

.jcarousel-clip
{
	overflow: hidden;
}

.jcarousel-clip-horizontal
{
	width:630px;
	left:55px;
}

.jcarousel-item
{
	font-size: 3em;
	color: #778899;
}

.jcarousel-item-horizontal
{
	margin-left: 0;
	margin-right: 10px;
}

.jcarousel-direction-rtl .jcarousel-item-horizontal
{
	margin-left: 10px;
	margin-right: 0;
}


.jcarousel-item-placeholder
{
	background: #fff;
	color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-next-horizontal
{
	position: absolute;
	top: 13px;
	right: 5px;
	width: 48px;
	height: 48px;
	cursor: pointer;
	background: transparent url('/Content/images/black/next.png') no-repeat 0 0;
}

.jcarousel-direction-rtl .jcarousel-next-horizontal
{
	left: 5px;
	right: auto;
	background-image: url('/Content/images/black/back.png')
}

.jcarousel-next-horizontal:hover, .jcarousel-next-horizontal:focus
{
	background: transparent url('/Content/images/black-no-border/next.png') no-repeat 0 0;
}

.jcarousel-next-horizontal:active
{
	background: transparent url('/Content/images/black-no-border/next.png') no-repeat 0 0;
}

.jcarousel-next-disabled-horizontal, .jcarousel-next-disabled-horizontal:hover, .jcarousel-next-disabled-horizontal:focus, .jcarousel-next-disabled-horizontal:active
{
	cursor: default;
}

.jcarousel-prev-horizontal
{
	position: absolute;
	top: 13px;
	left: 5px;
	width: 48px;
	height: 48px;
	cursor: pointer;
	background: transparent url('/Content/images/black/back.png') no-repeat 0 0;
}

.jcarousel-direction-rtl .jcarousel-prev-horizontal
{
	left: auto;
	right: 5px;
	background-image: url('/Content/images/black/next.png');
}

.jcarousel-prev-horizontal:hover, .jcarousel-prev-horizontal:focus
{
	background: transparent url('/Content/images/black-no-border/back.png') no-repeat 0 0;
}

.jcarousel-prev-horizontal:active
{
	background: transparent url('/Content/images/black-no-border/back.png') no-repeat 0 0;
}

.jcarousel-prev-disabled-horizontal, .jcarousel-prev-disabled-horizontal:hover, .jcarousel-prev-disabled-horizontal:focus, .jcarousel-prev-disabled-horizontal:active
{
	cursor: default;
}




/*********************** Visual Styles *****************************************************/
.jcarousel-item-horizontal
{
	font-size: 3em;
	color: #778899;
}

.jcarousel-item-horizontal:hover
{
	color: #000;
	background-color:#778899;
}
