obj/
Obj/
bin/
Bin/
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.Resharper.user
*.Resharper
*.ReSharper
*.ReSharper.user
*.suo
*.cache
*.dll
*.pdb
Tmp/
Log/
Uploads/
.dropbox
.DS_Store
*.user
desktop.ini
~$*