<article>
<div class="left-content">left image</div>
<div class="right-content">right content</div>
</article>
<article>
<div class="right-content">right image</div>
<div class="left-content">@Guid.NewGuid()</div>
</article>