<div>
    <ul id="topNavLinks">
        <li id="1">Category 1</li>
        <li id="2">Category 2</li>
        <li id="3">Category 3</li>
        <li id="4">Category 4</li>
    </ul>
</div>
<script type="text/javascript">
    $(function () {
        $('#topNavLinks').jcarousel();

    });
</script>
